<button class="ids-radius--8 ids-fs--18">Button</button>

<hr />
{# Icon button #}   
<button class="ids-radius--8 ids-fs--18" aria-label="Icon button">
    <span class="material-symbols-outlined ids-fs--44">favorite</span>
</button>

<hr />
{# Disabled button #}   
<button class="disabled" aria-label="Disabled button" disabled>
    Disabled button
</button>