/node_modules/
package-lock.json
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.next
/.next/*
/.next/cache
/.next/cache/*
/.next/static
/.next/static/*
/.next/server
/.next/server/*
/.next/trace
/.next/trace/*
/.next/trace-loader
/.next/trace-loader/*