{% set sizes = [8,10,12,14,16,18,20,22,24,26,28,32,38,40,42,44,48,50,52,56,60,64,72,84,92]%}
{% for size in sizes %}
<div class="ids-grid">
    <div class="ids-cell ids-cell--6-col">
        <span class="ids-fs--{{size}}">ids-fs--{{size}}</span>
    </div>
</div>
{% endfor %}