
{% for size in sizes %}
<div class="ids-grid">
    <div class="ids-cell ids-cell--6-col">
        <span class="ids-fs--{{size}}-tablet">ids-fs--{{size}}-tablet</span>
    </div>
</div>
{% endfor %}