{% for size in sizes %}
<div class="ids-grid">
    <div class="ids-cell ids-cell--6-col">
        <span class="ids-text--{{size}}-desktop">ids-text--{{size}}-desktop</span>
    </div>
</div>
{% endfor %}