<div class="ids-grid">
    {% for r in radiused %}
    <div class="ids-cell ids-cell--3-col ids-padding--8">
        <div class="ids-radius--{{r}} ids-padding--16 ids-fs--14" style="background:#BDBDBD; color:white;">
            .ids-radius--{{r}}
        </div>
    </div>
    {% endfor %}
    <div class="ids-cell ids-cell--3-col ids-padding--8">
        <div class="ids-radius--50-circle ids-fs--12" style="background:#BDBDBD; color:white; width:64px; height:64px; display:flex; align-items:center; justify-content:center;">
            .ids-radius<br/>--50-circle
        </div>
    </div>
</div>
