<div class="ids-grid ids-grid--no-spacing">
    {% for p in sizes %}
	<div class="ids-cell ids-cell--3-col ids-padding--{{p}}">
		ids-padding--{{p}}
	</div>
    {% endfor %}
</div>
<style>
.ids-cell {
	background-color: green;
    border: solid 1px black;
}</style>
